/realtime/kafka/kafka-examples/.classpath
/realtime/kafka/kafka-examples/.gitignore
/realtime/kafka/kafka-examples/.project
/realtime/kafka/kafka-examples/.settings/
/realtime/kafka/kafka-examples/target
/realtime/kafka/logging-app/target
